.dashboardSection{
    min-height: 100vh;
    background: #081b29;
}
.dashboardButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 75px 0;
    gap: 70px;
}
.btn{
    width: 25%;
}