@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* color: #fff; */
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.homeSection{
  min-height: 100vh;
  height: auto;
  /* background: #1f242d; */
  background: #081b29;
  overflow-x: hidden;
}
nav{
  height: 65px;
  width: 100vw;
  /* position: fixed; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar{
  width: 95%;
  height: 55px;
  /* background: #1f242d; */
  /* background: #323946; */
  background: #081b29;
  border-radius: 8px;
  box-shadow: 0 4px 10px #0ef;
  display: flex;
}
.nav1, .nav2, .nav3{
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.nav1{
  font-size: 30px;
  font-weight: bold;
}
.nav2{
  width: 60%;
  gap: 30px;
}
.nav3{
  gap: 10px;
  p{
    font-size: 20px;
    font-weight: bold;
  }
}
.profile{
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #fff;
  border: 2px solid #0ef;
  border-radius: 50%;
  cursor: pointer;
  transition: .3s;
}
.profile:hover{
  color: #081b29;
  background: #0ef;
  box-shadow: 0 0 10px 3px #0ef;
}
.profile:active{
  scale: .8;
}
.profileCard{
  /* height: 300px;
  width: 250px; */
  background: #081b29;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px 50px;
  box-shadow: 0 0 10px 10px #0ef;
  position: absolute;
  top: 20px;
  right: 50px;
  display: none;
}
.profileBtn{
  padding: 7px 15px;
  border-radius: 7px;
  background: red;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  transition: .3s;
}
.profileBtn:active{
  scale: .9;
}
.cross{
  color: white;
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px;
  margin: 3px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: .3s;
}
.cross:active{
  border: 2px solid #0ef;
  scale: .8;
}
.profilePic{
  border: 2px solid #0ef;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: white;
  padding: 10px;
  border-radius: 50%;
}
.profileName{
  font-size: 25px;
  color: #fff;
  font-weight: bold;
}
.bName1 {
  color: #0ef;
  transition: color 0.3s ease-in-out;
}
.bName2 {
  transition: color 0.3s ease-in-out;
}
.bName1:hover{
  color: #fff;
  cursor: pointer;
}
.bName2:hover{
  color: #0ef;
  cursor: pointer;
}
.bName1:hover ~ .bName2{
  color: #0ef;
}
.loginButton{
  padding: 6px 15px 6px 15px;
  font-size: 17px;
  color: #1f242d;
  background: #0ef;
  box-shadow: 0px 0px 10px 1.5px #0ef;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}
.loginButton:hover{
  box-shadow: none;
}
.loginButton:active{
  scale: .9;
  background: rgb(0, 158, 169);
}
/* .signupButton{
  padding: 6px 15px 6px 15px;
  font-size: 17px;
  background: rgb(233, 233, 233);
  outline: none;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}
.signupButton:hover{
  background-color: white;
}
.signupButton:active{
  scale: .9;
  background-color: rgb(178, 178, 178);
} */
.homePage{
  display: flex;
  justify-content: center;
}
.homePageForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  gap: 20px;
  input{
    width: 300px;
    height: 40px;
    font-size: 19px;
    background: rgb(101, 233, 242);
    letter-spacing: 1px;
    font-weight: bold;
    outline: none;
    border-radius: 10px;
    display: flex;
    text-align: center;
  }
  button{
    width: 100px;
  }
  p{
    color: #fff;
  }
}
.homePageForm input::placeholder{
  color: rgb(128, 128, 128);
  font-size: 16px;
  letter-spacing: normal;
  font-weight: 500;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.createIQuizButtons{
  display: flex;
  width: 100vw;
  padding-top: 90px;
  justify-content: center;
  button{
    width: 300px;
  }
}

.iquizStoreSection{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  margin-top: 20px;
  h1{
    color: #fff;
    padding-bottom: 20px;
  }
}
.iquizDiv{
  width: 90%;
  padding: 20px 10px 20px 30px;
  margin-top: 3px;
  display: flex;
  border: 1px solid #fff;
  border-radius: 7px;
}
.iquizPart1{
  width: 70%;
}
.titleDiv{
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}
.questionsDiv{
  color: #ccc;
  font-size: 20px;
  padding-top: 10px;
}
.iquizPart2{
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.hostButton{
  background: #0ef;
  padding: 7px 15px;
  border: none;
  outline: none;
  border-radius: 19px;
  font-size: 20px;
  cursor: pointer;
  transition: .4s;
}
.hostButton:hover{
  box-shadow: 0 0 10px 1px #0ef;
}
.hostButton:active{
  box-shadow: none;
  scale: .8;
}
.editDeleteIcons{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 30px;
}
.editDeleteIcons i{
  cursor: pointer;
  border: 2px solid transparent;
  padding: 2px;
  transition: .3s;
}
.editDeleteIcons i:hover{
  border: 2px solid #0ef;
}
.editDeleteIcons i:active{
  scale: .8;
}

hr{
  margin-top: 70px;
}
footer{
  padding: 20px;
  width: 100vw;
  display: flex;
  color: #fff;
}
.footer1{
  width: 20%;
  text-align: center;
}
.footer2{
  width: 60%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.fName1{
  color: #0ef;
}
a{
  text-decoration: none;
  color: #0ef;
  transition: .5s;
  cursor: pointer;
}
a:hover{
  text-decoration: underline;
}
.socialMedia{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  a{
    display: flex;
    text-decoration: none;
  }
}
.media{
  height: 37px;
  width: 37px;
  border: 2px solid #0ef;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  transition: .3s ease;
  i{
    color: #0ef;
  }
}
.media:hover{
  background-color: #0ef;
  box-shadow: 0px 0px 7px 1px #0ef;
  i{
    color: #1f242d;
  }
  /* transform: rotateY(360deg); */
}
.media:active{
  scale: .7;
}




.joinedPlayerSection{
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.joinedPlayer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  i{
    font-size: 55px;
  }
  p{
    margin-top: -10px;
    font-weight: bold;
  }
}
.startStopButtons{
  width: 100%;
  margin-top: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  button{
    padding: 7px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 7px;
    border: 1px solid black;
    cursor: pointer;
    transition: .3s;
  }:active{
    scale: .8;
  }
}
.allPlayers{
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 7px;
  background: #1f242d;
  color: #fff;
  font-size: 30px;
  gap: 5px;
  p{
    font-size: 22px !important;
    font-weight: bold;
  }
}










@media only screen and (max-width: 768px){
  .nav1, .nav2, .nav3{
    width: 33.33%;
  }
  .iquizStoreSection{
    padding: 0;
  }
  .iquizDiv{
    width: 97%;
    padding: 10px 0px 10px 15px;
    margin-top: 7px;
  }
  .iquizPart1{
    width: 60%;
  }
  .titleDiv{
    font-size: 19px;
  }
  .questionsDiv{
    font-size: 14px;
    padding-top: 10px;
  }
  .iquizPart2{
    width: auto;
    gap: 5px;
  }
  .hostButton{
    padding: 7px 10px;
    border-radius: 14px;
    font-size: 14px;
  }
  .editDeleteIcons{
    width: auto;
    justify-content: center;
    font-size: 22px;
  }
  footer{
    padding: 10px;
  }
  .footer1{
    width: 25%;
    font-size: 15px;
  }
  .footer2{
    width: 45%;
    font-size: 35px;
  }
  .socialMedia{
    width: 30%;
  }
  .media{
    height: 30px;
    width: 30px;
    font-size: 17px;
    border: 1px solid #0ef;
  }
  .width95{
    width: 95vw !important;
  }
  .startStopButtons{
    margin-top: 0;
    button{
      padding: 7px 15px;
      font-size: 16px;
    }
  }
}